<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - NTBS, Thapathali Campus</title>
</head>
<style>
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
    }
    .button{
        background-color: black;
        color: white;
        text-decoration: none;
        padding: .75rem;
        font-size: 1rem;
        font-weight: 600;
        border-radius: .25rem;
    }
    .button:hover{
        color: yellow;
    }
</style>
<body>
    <div class="container">
        <h1>Welcome to NTBS, Thapathali Campus</h1>
        <a href="/admin" class="button">Go to Admin Panel</a>
    </div>
</body>
</html>